chromadb
langchain-chroma
langchain
langchain-community
langchain-text-splitters
fastapi
uvicorn[standard]
python-docx
python-pptx
pypdf
pdfplumber
beautifulsoup4
sentence-transformers
pdfminer.six
python-dotenv
pytest
tiktoken
camelot-py[cv]
pdf2image
pytesseract
opencv-python-headless
PyMySQL
redis
alembic
sqlalchemy
